@import '~@angular/material/theming';
@import 'typography';
@import 'theme';

@include mat-core($app-typography);
@include angular-material-theme($techsylvania-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  background-color: #f3f3f3;
}

.fill {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.padding-24 {
  padding: 24px;
}
