// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-linnify: (
  50: #e0f0f2,
  100: #b3dadd,
  200: #80c1c7,
  300: #4da8b1,
  400: #2696a0,
  500: #00838f,
  600: #007b87,
  700: #00707c,
  800: #006672,
  900: #005360,
  A100: #90edff,
  A200: #5de5ff,
  A400: #2adcff,
  A700: #11d8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$techsylvania-primary: mat-palette($mat-linnify);
$techsylvania-accent: mat-palette($mat-linnify, A200, A100, A400);

// The warn palette is optional (defaults to red).
$techsylvania-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$techsylvania-theme: mat-light-theme(
  $techsylvania-primary,
  $techsylvania-accent,
  $techsylvania-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($techsylvania-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fill {
  flex: 1 1 auto;
}
